#footer {
    background: var(--black);
    color: var(--maincolor);
    /* display: none; */
}

.blind {
    display: none;
}

.footer_inner {
    /* margin: 4vw 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_big_title {
    margin: 4vw 0;
    font-size: 5rem;
    font-weight: 700;
}

.footer_cont {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 4vw 2vw;
}

/* comment */

.footer_comment {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.page_title {
    font-size: 2.5rem;
    color: var(--black300);
    margin-bottom: 3vw;
    text-align: center;
}

.comment__view__wrap {
    width: 100%;
    padding: 1.5vw;
    border: 1px dashed var(--maincolor);
    border-radius: 15px;
    margin-bottom: 1.5vw;
    height: 360px;
    overflow-y: auto;
    overflow-x: hidden;
    /*     
    scrollbar-width: thin;
    scrollbar-color: var(--maincolor) var(--black); */
}

.comment__view__wrap::-webkit-scrollbar {
    width: 5px;
}

.comment__view__wrap::-webkit-scrollbar-thumb {
    height: 30px;
    background: var(--maincolor_op);
    border-radius: 50px;
}

.comment__view__wrap::-webkit-scrollbar-track {
    background-color: var(--black500);
}


.Comment__view {
    margin-bottom: 20px;
}

.comment__view .text {
    margin-left: 60px;
    margin-right: 60px;
    color: var(--black200);
}

.comment__view .text .comment_user {
    display: block;
    font-size: 14px;
    color: var(--black200);
}


.Comment__view:nth-child(even) .text {
    text-align: right;
}

.Comment__view:nth-child(even) .text .comment_user {
    text-align: right;
}

.Comment__view:nth-child(even) .text .comment_info {
    border-radius: 10px 0 10px 10px;
    text-align: left;
}


.Comment__view .text .comment_info {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 0px 10px 10px 10px;
    display: inline-block;
    margin-top: 4px;
    color: var(--black);
    max-width: 70%;
    word-break: break-all;
}

.comment_user .author {
    font-size: 14px;
    color: var(--black300);
}

.comment_user .date {
    font-size: 14px;
    color: var(--black300);
}

.comment_user .modify {
    text-decoration: underline;
    text-underline-position: under;
    color: var(--maincolor);
    font-size: 14px;
    color: var(--black300);
}

.comment_user .modify:hover {
    color: var(--maincolorDeep);
}

.comment_user .delete {
    text-decoration: underline;
    text-underline-position: under;
    color: var(--maincolor);
    font-size: 14px;
    color: var(--black300);
}

.comment_user .delete:hover {
    color: var(--maincolorDeep);
}

.comment__input {
    border: none;
}

.comment__input fieldset {
    border: none;
}


.comment__nickname {
    width: 30%;
    border-radius: 5px;
    padding: 5px 10px;
}

.comment__password {
    width: 30%;
    border-radius: 5px;
    padding: 5px 10px;
}

.comment__detail {
    margin-top: 10px;
    width: 78%;
    border-radius: 5px;
    padding: 5px 10px;
}

.comment_btn {
    width: 20%;
    border-radius: 50px;
    background-color: var(--maincolor);
    color: var(--black100);
    padding: 5px 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

.comment_btn:hover {
    background-color: var(--maincolorDeep);
}

/* contact */

.footer_contact {
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: center;
}

.contact_title {
    font-size: 2.5rem;
    color: var(--black300);
    margin-bottom: 3vw;
}

.contact_info {
    margin-left: -5vw;
}


.contact_info>ul>li {
    margin-bottom: 2vw;
}

.contact_info>ul>li>a {
    color: var(--maincolor);
    font-size: 2rem;
    line-height: 1;
}

.contact_info>ul>li>a:hover {
    color: var(--maincolorDeep);
    text-decoration: underline;
    text-underline-position: under;
}

@media (max-width: 1200px) {
    .footer_big_title {
        font-size: 4rem;
    }

    .page_title {
        font-size: 2rem;
        margin-bottom: 2.5vw;
    }

    .comment__view__wrap {
        height: 300px;
    }

    .comment__view .text .comment_user {
        font-size: 12px;
    }

    .Comment__view .text .comment_info {
        font-size: 14px;
    }

    .comment_user .author {
        font-size: 12px;
    }
    
    .comment_user .date {
        font-size: 12px;
    }

    .comment_user .modify {
        font-size: 12px;
    }
    
    .comment_user .delete {
        font-size: 12px;
    }
    

    .comment_btn {
        font-size: 1rem;
    }

    .contact_title {
        font-size: 2rem;
        margin-bottom: 2.5vw;
    }

    .contact_info>ul>li {
        margin-bottom: 3vw;
    }

    .contact_info>ul>li>a {
        color: var(--maincolor);
        font-size: 1.7rem;
        line-height: 1;
    }
}


@media (max-width: 1000px) {
    .footer_big_title {
        font-size: 4rem;
    }

    .page_title {
        font-size: 2rem;
        margin-bottom: 2.5vw;
    }

    .comment__view__wrap {
        height: 300px;
    }

    .comment__view .text .comment_user {
        font-size: 12px;
    }

    .Comment__view .text .comment_info {
        font-size: 14px;
    }

    .comment_user .author {
        font-size: 12px;
    }
    
    .comment_user .date {
        font-size: 12px;
    }

    .comment_user .modify {
        font-size: 12px;
    }
    
    .comment_user .delete {
        font-size: 12px;
    }
    

    .comment_btn {
        font-size: 1rem;
    }

    .contact_title {
        font-size: 1.7rem;
        margin-bottom: 2.5vw;
    }

    .contact_info>ul>li {
        margin-bottom: 3vw;
    }

    .contact_info>ul>li>a {
        color: var(--maincolor);
        font-size: 1.5rem;
        line-height: 1;
    }
}

@media (max-width: 800px) {
    .footer_big_title {
        font-size: 4rem;
    }
    .footer_cont {
        display: block;
        margin: 0 auto;
        
    }
    .footer_comment {
        width: 100%;
    }

    .page_title {
        font-size: 2.5rem;
        margin-bottom: 4vw;
    }

    .comment__view__wrap {
        height: 300px;
    }

    .comment__view .text .comment_user {
        font-size: 14px;
    }

    .Comment__view .text .comment_info {
        font-size: 14px;
    }

    .comment_user .author {
        font-size: 14px;
    }
    
    .comment_user .date {
        font-size: 14px;
    }

    .comment_user .modify {
        font-size: 14px;
    }
    
    .comment_user .delete {
        font-size: 14px;
    }

    .comment_btn {
        font-size: 1.5rem;
    }

    .footer_contact {
        width: 100%;
        margin-bottom: 8vw;
    }

    .contact_title {
        font-size: 2.5rem;
        margin-bottom: 4vw;
        margin-top: 8vw;
    }

    .contact_info {
        margin-left: 0vw;
        width: 100%;
    }

    .contact_info>ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .contact_info>ul>li {

    }

    .contact_info>ul>li>a {
        font-size: 2rem;
    }
}

@media (max-width: 600px) {
    .footer_big_title {
        font-size: 3rem;
    }

    .page_title {
        font-size: 2rem;
    }

    .comment__view .text .comment_user {
        font-size: 12px;
    }

    .Comment__view .text .comment_info {
        font-size: 12px;
    }

    .comment_user .author {
        font-size: 12px;
    }
    
    .comment_user .date {
        font-size: 12px;
    }

    .comment_user .modify {
        font-size: 12px;
    }
    
    .comment_user .delete {
        font-size: 12px;
    }

    .comment_btn {
        font-size: 1rem;
    }

    .contact_title {
        font-size: 2rem;
    }

    .contact_info>ul>li>a {
        font-size: 1.5rem;
    }
}


@media (max-width: 470px) {
    .footer_big_title {
        font-size: 2.5rem;
    }

    .page_title {
        font-size: 1.5rem;
    }

    .comment__view__wrap {
        height: 200px;
    }

    .comment__view .text .comment_user {
        font-size: 12px;
    }

    .Comment__view .text .comment_info {
        font-size: 12px;
    }

    .comment_user .author {
        font-size: 12px;
    }
    
    .comment_user .date {
        font-size: 12px;
    }

    .comment_user .modify {
        font-size: 12px;
    }
    
    .comment_user .delete {
        font-size: 12px;
    }

    .comment_btn {
        font-size: 0.8rem;
    }

    .contact_title {
        font-size: 1.5rem;
    }

    .contact_info>ul>li>a {
        font-size: 1.2rem;
    }
}