#footer {
    background: var(--black);
    color: var(--maincolor);
}

.footer_inner {
    /* margin: 4vw 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_small_title {
    margin: 4vw 0 2vw 0;
    font-size: 2vw;
    color: var(--black300);
}

.footer_big_title {
    margin-bottom: 4vw;
    font-size: 4vw;
    font-weight: 700;
}

.footer_cont {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 4vw 2vw;
}

.footer_page {
    display: flex;
    flex-direction: column;
}

.page_title {
    font-size: 1.5vw;
    color: var(--black300);
    margin-bottom: 2vw;
    text-align: center;
}

.page_info {
    text-align: start;
    margin-left: -1vw;
}

.page_info>ul>li {
    margin-bottom: 1vw;
}

.page_info>ul>li>a {
    color: var(--maincolor);
    font-size: 1.5vw;
    line-height: 1;
}

.footer_contact {
    display: flex;
    flex-direction: column;
}

.contact_title {
    font-size: 1.5vw;
    color: var(--black300);
    margin-bottom: 2vw;
    text-align: center;

}

.contact_info {
    text-align: start;
    margin-left: -1vw;
}

.contact_info>ul>li {
    margin-bottom: 1vw;
}

.contact_info>ul>li>a {
    color: var(--maincolor);
    font-size: 1.5vw;
    line-height: 1;
}