#script {
    margin: 8vw 4vw;
}

.script_inner {

    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    height: 70vh;
}

.script_title {
    width: 25%;
    padding: 2vw 2.5vw;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    border-right: 1px solid var(--black);
    font-size: 3.5rem;
    text-transform: uppercase;
}

.script_type {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    align-items: center;
    align-content: center;
}

.script_type_cont {
    padding: 1.8vw 2.5vw;
    width: 50%;
    height: 33.3333%;
    border-bottom: 1px solid var(--black);
    overflow: hidden;
}

.script_type_cont:nth-child(odd) {
    border-right: 1px solid var(--black);
}

.script_type_cont:last-child {
    border-bottom: none;
}


.script_name {
    font-size: 2rem;
}

.script_cont {
    font-size: 1rem;
    line-height: 1.5;
    flex-grow: 1;
    position: relative;
}

.script_btn {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
}

.script_view_btn {
    margin-right: 1vw;
}

@media (max-width: 1610px) {
    .script_title {
        font-size: 3.5rem;
    }

    .script_name {
        font-size: 2rem;
    }


    .script_cont {
        font-size: 1rem;
    }
}

@media (max-width: 800px) {
    .script_inner {
        display: block;
    }

    .script_title {
        width: 100%;
        border-right: none;
        /* font-size: 700px; */
    }

    .script_type {
        width: 100%;
        border-top: none;
    }

    .script_type_cont {
        height: 170px
    }

    .script_name {
        font-size: 2.3vw;
        font-weight: 700;
        margin: 1vw 0;
    }

    .script_cont {
        font-size: 1.7vw;
    }
}

@media (max-width: 600px) {
    .script_inner {
        display: block;
    }

    .script_title {
        width: 100%;
        font-size: 25px;
    }

    .script_type {
        width: 100%;
        border-top: none;
    }

    .script_type_cont {
        width: 100%;
        height: 150px;
        border-right: none;
    }

    .script_type_cont:nth-child(odd) {
        border-right: none;
    }

    .script_name {
        font-size: 2.3vw;
        font-weight: 700;
        margin: 1vw 0;
        font-size: 20px;
    }

    .script_cont {
        font-size: 12px;
    }
}