/* marquee */
.marquee {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  line-height: 1;
  margin-top: 4vw;
}

.marquee-heading {
  width: 35%;
  font-size: 9vw;
  margin-right: 2vw;
}

/* work_section */
.work_info {
  margin: 2vw 0;
}

.work_info_img a {
  overflow: hidden;
}

.work_info_img a img {
  /* width: 130%;
  height: 180%; */

}

.work_info_detail {
  margin: 2vw 4vw 4vw 4vw;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.work_info_name {
  width: 50%;
  font-size: 6vw;
  font-weight: 400;
}

.work_info_cont {
  width: 50%;
  font-size: 1vw;
  columns: var(--black100);
  line-height: 1.5;
}

.work_info_cont span {
  line-height: 1.5;
}

.work_btn {
  margin-top: 1vw;
}

.work_gihub_btn {
  margin-right: 1vw;
}

@media (max-width: 800px) {
  .work_info_detail {
    display: block;
  }

  .work_info_name {
    width: 100%;
    font-weight: 700;
  }

  .work_info_cont {
    width: 100%;
    font-size: 3vw;
  }

  .work_btn {
    margin-top: 1.5vw;
  }
}