/* marquee */
.marquee {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  line-height: 1;
  margin-top: 4vw;
}

.marquee-heading {
  width: 35%;
  font-size: 10rem;
  margin-right: 30px;
}

/* work_section */
.work_info {
  margin: 2vw 0;
}

.work_info_img a {
  overflow: hidden;
}

.work_info_img a img {
  /* width: 130%;
  height: 180%; */

}

.work_info_detail {
  margin: 2vw 4vw 4vw 4vw;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.work_info_name {
  width: 50%;
  font-size: 7rem;
  font-weight: 400;
}

.work_info_cont {
  width: 50%;
  font-size: 1.3rem;
  columns: var(--black100);
  line-height: 1.5;
}

.work_info_cont span {
  line-height: 1.5;
}

.work_btn {
  margin-top: 1vw;
}

.work_gihub_btn {
  margin-right: 1vw;
}

@media (max-width: 1600px) {
  .marquee-heading {
    font-size: 8rem;
  }

  .work_info_cont {
    font-size: 1.2rem;
  }
}


/* @media (max-width: 1480px) {
  .work_info_name {
    font-size: 7rem;
  }

  .work_info_cont {
    font-size: 1rem;
  }
} */

@media (max-width: 1280px) {
  .work_info_name {
    font-size: 6rem;
  }

  .work_info_cont {
    font-size: 0.8rem;
  }
}

@media (max-width: 1060px) {
  .work_info_name {
    font-size: 5rem;
  }

  .work_info_cont {
    font-size: 0.7rem;
  }
}

@media (max-width: 890px) {
  .work_info_name {
    font-size: 4.5rem;
  }

  .work_info_cont {
    font-size: 0.6rem;
  }
}

@media (max-width: 800px) {
  .marquee-heading {
    font-size: 6rem;
  }

  .work_info_detail {
    display: block;
  }

  .work_info_name {
    width: 100%;
    font-weight: 700;
  }

  .work_info_cont {
    width: 100%;
    font-size: 1.5rem;
  }

  .work_btn {
    margin-top: 1.5vw;
  }
}

@media (max-width: 690px) {


  .work_info_name {
    font-size: 4rem;
  }

  .work_info_cont {
    font-size: 1.2rem;
  }
}

@media (max-width: 550px) {
  .marquee-heading {
    font-size: 5rem;
  }


  .work_info_name {
    font-size: 3.5rem;
  }

  .work_info_cont {
    font-size: 1rem;
  }
}