#section3 {
    padding: 3vw 0 6vw 0;
    background-color: var(--maincolorDeep);
    overflow: hidden;
    /* height: 70vh; */
}

.work h2 {
    font-family: var(--mainEn-font);
    padding: 1vw 4vw 0px 4vw;
    font-size: 9vw;
    line-height: 1;
}

.work p {
    font-size: 1.8rem;
    padding: 0 4vw;
    margin-bottom: 2vw;
    display: none;
}


.work_list {
    margin: 0 auto;
    width: 90%;
    height: 70vh;
    padding-bottom: 2vw;
    position: relative;
}

.work_site {
    background-color: var(--white);
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    border-radius: 20px;
    justify-content: space-between;
    overflow: hidden;

    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.work_site .img_wrap {
    width: 50%;
    height: 100%;
    position: relative;
}

.work_site .img_wrap img {
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.work_site .work_info {
    width: 50%;
    height: auto;
    padding: 3vw;
}

.work_site .work_info .info_wrap {
    width: 80%;
    height: 90%;
}

.work_site .work_info .info_wrap span {
    display: inline-block;
    color: var(--black300);
    font-size: 1.2vw;
    margin-bottom: 1rem;
}

.work_site .work_info .info_wrap h4 {
    font-size: 2.2vw;
    font-family: var(--work2-font);
    font-weight: 900;
    word-break: keep-all;
    line-height: 1.3;
    margin-bottom: 1.2vw;
}

.work_site .work_info .info_wrap .desc {
    display: inline-block;
    color: var(--black200);
    font-size: 1.2vw;
    font-family: var(--mainko-font);
}

.work_site .work_info .work_btn {
    height: 10%;
}

.work_site .work_info a {
    padding: 1vh 2vw;
    border: 1px solid var(--black200);
    font-size: 1vw;
    font-family: var(--mainEn-font);
    border-radius: 10px;
    margin-right: 1.5vw;
}

.work_site .work_info a:hover {
    background-color: var(--black200);
    color: var(--white);
}

@media (max-width: 800px) {
    .work h2 {
        font-size: 12vw;
    }

    .work_list {
        margin: 0 auto;
        width: 90%;
        padding-bottom: 2vw;
        position: relative;
    }

    .work_site {
        flex-direction: column;
        justify-self: start;
    }

    .work_site .img_wrap {
        width: 100%;
        height: 50%;
        position: relative;
        overflow: hidden;
    }

    /* width: 100%; */
    .work_site .img_wrap img {
        width: 100%;
        object-fit: cover;
        object-position: center;

    }

    .work_site .work_info {
        width: 100%;
        height: 50%;
        padding: 3vw;
    }


    .work_site .work_info .info_wrap span {
        font-size: 2vw;
    }

    .work_site .work_info .info_wrap h4 {
        font-size: 3.2vw;
    }

    .work_site .work_info .info_wrap .desc {
        font-size: 2vw;
    }

    .work_site .work_info .work_btn {
        height: 10%;
    }

    .work_site .work_info a {
        font-size: 2.5vw;
    }

}