#section3 {
  padding: 3vw 0 10vw 0;
  background-color: var(--maincolorDeep);
  overflow: hidden;
}

.work h2 {
  font-family: var(--mainEn-font);
  padding: 1vw 4vw 0px 4vw;
  font-size: 10rem;
  line-height: 1;
}

.work p {
  font-size: 1.8rem;
  padding: 0 4vw;
  margin-bottom: 2vw;
}


.work_list {
  display: flex;
  width: 200%;
  justify-content: space-between;
}

.work_site {
  width: 33.3333%;
  margin-left: 2vw;
  padding: 1vw;
  /* margin-top: 1vw; */
}

.work_site:hover {
  /* margin-top: -1vw; */
}


.work_site .img {
  padding-bottom: 56.25%;
  height: 40%;
  background-size: cover;
  background-position: center center;
  border-radius: 15px;
}

.work_site:nth-child(1) .img {
  background-image: url(../../image/youtube.jpg);
}

.work_site:nth-child(2) .img {
  background-image: url(../../image/myuduck.jpg);
}

.work_site:nth-child(3) .img {
  background-image: url(../../image/Movie.jpg);
}

.work_site:nth-child(4) .img {
  background-image: url(../../image/blog.jpg);
}

.work_site:nth-child(5) .img {
  background-image: url(../../image/Movie.jpg);
}

.work_site:nth-child(6) .img {
  background-image: url(../../image/Movie.jpg);
}

.work_site .work_info {
  padding: 3% 5% 3% 5%;
  height: auto;
}

.work_site:nth-child(1) {
  background-color: var(--work_box1);
}

.work_site:nth-child(2) {
  background-color: var(--work_box2);
}

.work_site:nth-child(3) {
  background-color: var(--work_box3);
}

.work_site:nth-child(4) {
  background-color: var(--work_box4);
}

.work_site:nth-child(5) {
  background-color: var(--work_box5);
}

.work_site:nth-child(6) {
  background-color: var(--work_box6);
}

.work_site .work_info span {
  display: inline-block;
  color: var(--black200);
  margin-bottom: 10px;
}

.work_site .work_info h4 {
  /* font-size: 1.2rem; */
  font-size: 1.4rem;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--white500);
  word-break: keep-all;
}

.work_site .work_info p {
  font-size: 1.2rem;
  font-family: var(--mainko-font);
  color: var(--white500);
}

.work_site .work_btn {
  padding: 3% 5% 3% 0;
  display: flex;
  justify-content: flex-end;
}

.work_site .work_btn a {
  padding: 8px 20px;
  margin-left: 15px;
  background-color: var(--white);
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white400);
}

.work_site .work_btn a:hover {
  background-color: var(--white400);
  color: var(--white);
}

@media (max-width: 1700px) {
  .work_site .work_info {
    height: 220px;
  }
}

@media (max-width: 1470px) {
  .work_list {
    width: 240%;
  }

  .work_site {
    width: 40%;
  }

  .work_site .work_info h4 {
    font-size: 1.4rem;
  }

  .work_site .work_info p {
    font-size: 1.2rem;
  }
}

@media (max-width: 1220px) {
  .work h2 {
    font-size: 8rem;
  }

  .work p {
    font-size: 1.5rem;
  }

  .work_site .work_info span {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .work_site .work_info h4 {
    margin-bottom: 5px;
    font-size: 1.2rem;
  }

  .work_site .work_info p {
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {

  .work_site .work_btn {
    padding: 0 5% 5 0;
  }

  .work_site .work_btn a {
    padding: 5px 15px;
    margin-left: 10px;
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  .work h2 {
    font-size: 7rem;
  }

  .work p {
    font-size: 1.3rem;
  }

  .work_list {
    width: 300%;
  }

  .work_site {
    width: 50%;
  }

  .work_site .work_info {
    height: 230px;
  }

  .work_site .work_info span {
    font-size: 1rem;
  }

  .work_site .work_info h4 {
    font-size: 1.3rem;
  }

  .work_site .work_info p {
    font-size: 1.1rem;
  }
}

@media (max-width: 800px) {
  #section3 {
    padding: 8vw 0 10vw 0;
  }
}

@media (max-width: 700px) {

  .work h2 {
    font-size: 6rem;
  }

  .work p {
    font-size: 1.1rem;
  }

  .work_list {
    width: 300%;
  }

  .work_site {
    width: 50%;
  }

  .work_site .work_info {
    height: 200px;
  }

  .work_site .work_info span {
    font-size: 0.9rem;
    margin-bottom: 5px;
  }

  .work_site .work_info h4 {
    margin-bottom: 5px;
    font-size: 1.1rem;
  }

  .work_site .work_info p {
    font-size: 0.9rem;
  }

  .work_site .work_btn {
    padding: 0 5% 5% 0;
    display: flex;
    justify-content: flex-end;
  }

  .work_site .work_btn a {
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 0.9rem;
  }
}


@media (max-width: 580px) {

  .work h2 {
    font-size: 5rem;
  }

  .work p {
    font-size: 1rem;
  }

  .work_list {
    width: 450%;
  }

  .work_site {
    width: 75%;
  }

  .work_site .work_info {
    height: 180px;
  }

  .work_site .work_info span {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .work_site .work_info h4 {
    margin-bottom: 5px;
    font-size: 1.2rem;
  }

  .work_site .work_info p {
    font-size: 1rem;
  }

  .work_site .work_btn {
    padding: 0 5% 5% 0;
    display: flex;
    justify-content: flex-end;
  }

  .work_site .work_btn a {
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 0.9rem;
  }
}

@media (max-width: 500px) {

  .work h2 {
    font-size: 4rem;
  }

  .work p {
    font-size: 1rem;
  }

  .work_list {
    width: 450%;
  }

  .work_site {
    width: 75%;
  }

  .work_site .work_info {
    height: 180px;
  }

  .work_site .work_info span {
    font-size: 0.9rem;
    margin-bottom: 5px;
  }

  .work_site .work_info h4 {
    margin-bottom: 5px;
    font-size: 1rem;
  }

  .work_site .work_info p {
    font-size: 0.9rem;
  }

  .work_site .work_btn {
    padding: 0 5% 5% 0;
    display: flex;
    justify-content: flex-end;
  }

  .work_site .work_btn a {
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 0.9rem;
  }
}