* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--maincolor);
  font-family: var(--main-font);
}

/* 영역 */
.container {
  margin: 0 auto;
  width: 1720px;
  min-height: 100vh;
}

/* 버튼 스타일 */
.btn_style {
  display: inline-block;
  width: 120px;
  height: 40px;
  text-align: center;
  background: var(--black);
  color: var(--maincolor);
  border-radius: 50px;
  line-height: 40px;
  vertical-align: middle;
  text-transform: uppercase;
}


@media (max-width:1150px) {
  .btn_style {
    width: 100px;
    height: 30px;
    line-height: 30px;
  }
}

@media (max-width: 1030px) {
  .btn_style {
    width: 90px;
    height: 30px;
    line-height: 30px;
  }
}

@media (max-width: 800px) {
  .btn_style {
    width: 120px;
    height: 40px;
    line-height: 40px;
  }
}

@media (max-width: 670px) {
  .btn_style {
    width: 90px;
    height: 30px;
    line-height: 30px;
  }
}

.btn_style2 {
  display: inline-block;
  width: 100px;
  height: 30px;
  text-align: center;
  background: var(--black);
  color: var(--maincolor);
  border-radius: 50px;
  line-height: 30px;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 1.1rem;
}

@media (max-width: 1300px) {
  .btn_style2 {
    width: 90px;
    height: 30px;
    line-height: 30px;
    font-size: 1rem;

  }
}

@media (max-width: 1100px) {
  .btn_style2 {
    width: 85px;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .btn_style2 {
    width: 90px;
    height: 30px;
    line-height: 30px;
    font-size: 1rem;
  }
}

@media (max-width: 450px) {
  .btn_style2 {
    width: 85px;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
  }
}

/* 플레이 아이콘 */
.Shortcuts_icon a {
  position: relative;
  display: block;
  cursor: pointer;
  width: 100%;
}

.Shortcuts_icon a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
}

.Shortcuts_icon a:hover::before {
  /* background-color: var(--black600); */
}

.Shortcuts_icon a::after {
  content: '';
  width: 100px;
  height: 100px;
  background: var(--black400) url(../../image/Arrow17.png) no-repeat center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.Shortcuts_icon a:hover::after {
  opacity: 1;
}


@media (max-width: 800px) {
  .Shortcuts_icon a::after {
    width: 50px;
    height: 50px;
    background-size: 45%;
  }
}