:root {
    --main-font: "NexonLv1Gothic";
    --mainNum-font: "gmarket";
    --mainEn-font: "PPRader";
    --mainko-font: "IropkeBatang";

    --maincolor: #F5F3EF;
    --maincolorDeep: #f3e8d4;
    --maincolor_op: #f5f3ef91;

    --work_box1: #d4d4aa;
    --work_box2: #d4c7aa;
    --work_box3: #d4aac4;
    --work_box4: #aac4d4;
    --work_box5: #d4aaa1;
    --work_box6: #a4d4aa;

    --script_color1: #010046;
    --script_color2: #8f00c7;

    --white: #ffffff;
    --white100: #e8e8e8;
    --white200: #dddddd;
    --white300: #c1c1c1;
    --white400: #6b6b6b;
    --white500: #333333;

    --black: #000000;
    --black100: #1e1e21;
    --black200: #363641;
    --black300: #9F9E9C;
    --black400: #000000c7;
    --black500: rgba(0, 0, 0, 0.1);
    --black600: #00000025;

    /* 폰트를 부드럽게 렌더링하기 위한 속성  */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* 아이폰 가로 모드에서 글씨 확대 금지 */
    -webkit-text-size-adjust: 100%;
}


@media (max-width: 800px) {
    :root {
        font-size: 14px;
        line-height: 1.4;
    }
}